@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-radial from-slate-900 to-slate-950;
    
    color: theme('colors.neutral.100');
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  
  table.info-table tr > td {
    @apply py-0.5 px-2;
  }
}

@layer utilities {
  .transform-smooth {
    @apply transform-gpu transition-all;
  }
  
  .gap-common {
    @apply gap-1;
  }
  
  button.button-chart-toolbar {
    @apply rounded-full p-0.5 focus-visible:outline-0;
    
    &:hover {
      @apply bg-zinc-200;
    }
    
    &:hover path {
      @apply stroke-gray-700;
    }
  }
  
  .text-px-bid {
    @apply text-sky-300;
  }
  
  .text-px-ask {
    @apply text-rose-300;
  }
  
  .text-px-mark {
    @apply text-gray-300;
  }
  
  .text-px-order {
    @apply text-yellow-300;
  }
}
