@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  
  table.info-table tr > td {
    @apply py-0.5 px-2;
  }
}

@layer utilities {
  .transform-smooth {
    @apply transform-gpu transition-all;
  }
  
  button.button-chart-toolbar {
    @apply rounded-full p-0.5 focus-visible:outline-0;
    
    &:hover {
      @apply bg-zinc-200;
    }
    
    &:hover path {
      @apply stroke-gray-700;
    }
  }
  
  .text-px-bid {
    @apply text-sky-300;
  }
  
  .text-px-ask {
    @apply text-rose-300;
  }
  
  .text-px-mark {
    @apply text-gray-300;
  }
  
  .text-px-order {
    @apply text-yellow-300;
  }
}
